:root {
    --window_color: hsl(0, 0%, 15%, 1);
    --window_text_color: hsl(0, 0%, 100%, 1);
    --font-size: 2vw;
}

#application {
    height: 100vh;
    display: grid;
    grid-template-columns: 6fr 9fr 4fr;
    grid-template-rows: 138fr 2fr;
    gap: .3%;
}

#windows_left {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 4fr 5fr;
    gap: .5%;
}

#center_container {}

#windows_center_adv_mode {
    height: 100%;

    display: grid;
    grid-template-rows: 5fr 3fr 1fr;
    gap: .5%;
}

#windows_center_arena_mode {
    height: 100%;

    display: none;
    grid-template-rows: 7fr 3fr;
    gap: .5%;
}

#windows_right {
    display: grid;
    background: white;
    /*grid-template-rows: 1fr;*/
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    background: var(--window_color);
    color: var(--window_text_color);
    font-size: var(--font-size);
}

.arena_window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    background: hsl(105, 80%, 19%);
    color: var(--window_text_color);
    font-size: var(--font-size);
}

.prompt_window {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2%;

    background: #111;
    color: var(--window_text_color);
    font-size: var(--font-size);
}


#descriptions_win {
    /*background: red;*/
}

#logs_win {
    /*background: red;*/
}

#focus_win {
    /*background: lightgray;*/
}

#mode_button {
    position: absolute;
    width: 5%;

    background: darkslateblue;
    color: lightgray;
    font-size: 8px;
    font-weight: bold;
}

#activity_win {
    /*background: lightgray;*/
}

#prompt_win {
    /*background: darkgrey;*/
}

#lists_win {
    /*background: blue;*/
}

.tab {
    width: 100%;
    height: .5em;
    background: hsl(0, 100%, 100%, .10);
}