:root {
    --col: 60;
    --window_color: hsl(var(--col), 20%, 96%, 1);
    --window_text_color: hsl(var(--col), 15%, 30%, 1);
    --window-overlay-color: hsl(var(--col), 5%, 88%, 1);
    --resp-font-size: 2vw;
}

html {
    font-size: 62.5%;
    background: var(--window_color);
    font-family: "Cutive Mono", monospace;
}

#body {
    font-size: 1.6rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

#application {
    font-size: 1.6rem;
    width: 100%;
    height: 98vh;
    margin: 1vh 0;
    display: grid;
    grid-template-columns: 3.5fr 9fr 6.75fr;
    grid-template-rows: 4.5fr 1.5fr 1.5fr 1.5fr minmax(0, .8fr);
    background: var(--window_color);
}

.app-window {
    background: var(--window_color);
    color: var(--window_text_color);
    margin: 0;
    padding: 2.5rem;

    /*border: 3px solid red;*/
}

.window-content {
    padding: .8em;
    background-color: var(--window-overlay-color);
}

.central-window {
    background: #fff;
    color: black;
    padding: .8em;
    box-shadow: 3px 3px 3px hsl(240, 15%, 40%, 1);
    z-index: 2;
    border: 1px solid lightblue;
}

/*.arena_window {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    text-align: center;*/

/*    background: hsl(105, 80%, 19%);*/
/*    color: var(--window_text_color);*/
/*    !*font-size: var(--resp-font-size);*!*/
/*}*/

#lists_win {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    font-size: 1.5rem;
    padding-left: 0;
}

#lists_win h3 {
    margin: 1em 0 -.5em .5em
}

#lists_win p {
    margin: 2em 0 2em 1em;
}

#focus_win {
    grid-row: 1 / 3;
    font-size: 3rem;

    margin-top: 30px;
    padding-bottom: 0;

    font-family: "Xanh Mono", monospace;
    background: url("/assets/kiwihug-MS9Tnh3if1o-unsplash2.jpg");
    background-size: 900px;
    border-bottom: none;
}

#arena_win {
    display: none;
    grid-row: 1 / 4;
    font-size: 2.2rem;

    margin-top: 30px;
}

#mode_button {
    display: none;
    font-size: .75em;
    position: absolute;
    top: 15px;
    left: 19vw;
    width: 9em;

    background: darkslateblue;
    color: lightgray;
    font-weight: bold;
}

#activity_win {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    font-size: 2.5rem;

    margin-bottom: 20px;
    padding-top: 0;
    border-top: none;
}

#activity_win span {
    color: hsl(0, 0%, 35%, .5);
}

#activity_win .recent-activity {
    color: #444;
    text-shadow: 2px 2px 3px lightblue;
}

#aactivity_win {
    display: none;
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    font-size: 2.2rem;
    /*background: lightgray;*/
}

/* TODO: make the prompt more minimalist but larger text*/
#prompt_win {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    font-size: 1.2rem;
    padding: 0 2%;

    background: var(--window-overlay-color);
    color: var(--window_text_color);
    border-radius: 25px;
    /*border: 3px solid red;*/
}

#prompt_output {
    height: 2em;
    overflow: clip;
    /*border: 2px solid orange;*/
}

#prompt_title {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    width: 43vw;

    /*border: 2px solid orange;*/
}

#prompt_input {
    width: 95%;
}

#descriptions_win {
    grid-column: 3 / 4;
    font-size: 2rem;
    padding-right: 0;
}

#logs_win {
    grid-column: 3 / 4;
    grid-row: 2 / 6;
    font-size: 1.5rem;
    padding-right: 0;
}

/* todo: make this a grid so that it can overflow to a new row when needed*/
.tab {
    font-size: 1rem;
    margin: 0;
    width: fit-content;
    max-width: 100%;
    height: 20px;
    background: var(--window-overlay-color);
    /*border-radius: 8px;*/
    padding: .4em 0 0 2em;
}

.tab-title {
    margin: 0 2em 0 0;
    font-size: 1.2rem;
    color: #888;
}

.tab-activetitle {
    text-shadow: 1px 1px 1px skyblue;
    color: #444;
}

h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}